<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>this is home page</title>
</head>
<body>
<section>
    <div class="container"></div>
    <div class="row">
        <div class="col-md-8 offset-md-2"></div>
        <div class="my-card">
            <style>
                h1 {
                    text-align: center;
                    background: gray;
                    color: white;
                }

                p {
                    text-align: center;
                }

                div {
                    text-align: center;
                }

                input {
                    text-align: center;
                }
            </style>
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                <p th:text="${session.message.content}"></p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>

            <h1>Register Here !!</h1>
            <form th:action="@{/do_register}" method="post" th:object="${user}">
              <!--name field-->
                <div class="mb-3">
                    <label for="name_field" class="form-label">Name</label>
                    <input name="name" type="text" class="form-control" id="name_field" placeholder="Enter name" required th:value="${user.name}"
                        aria-describedby="emailHelp">
                </div>
              <!-- email field-->
                <div class="mb-3">
                    <label for="email_field" class="form-label">Email Address</label>
                    <input name="email" type="email" class="form-control" id="email_field" placeholder="Enter email here" required th:value="${user.email}"
                        aria-describedby="emailHelp">
                </div>
            <!-- password field-->
                <div class="mb-3">
                    <label for="password_field" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password_field" placeholder="Enter password here"
                        name="password"   required
                           aria-describedby="emailHelp">
                </div>
              <!-- user about field-->
                <div class="form-group">
                    <textarea rows="5"  placeholder="Enter about yourself" required
                        name="about"      th:value="${user.about}"     class="form-control"></textarea>
                </div>

               <!-- terms and condition agreement-->

           <div class="form-group form-check text-center">
                    <input type="checkbox" class="form-check-input" name="agreement" id="agreement">
                    <label for="agreement">Please accept terms and condition</label>
                </div>
                <div class="container" text-center>
                    <button type="submit" class="btn btn-primary" text-white>
                        submit
                    </button>
                    <button type="reset" class="btn btn-warning">
                        reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>

